export(Sight.Est, covtheta, SS.est, Wong.est, vardiff, varlog.lam)
export(Sight.Est.Ratio, SS.est.Ratio, Wong.est.Ratio)
export(MoosePopR, SightabilityPopR)
import(formula.tools)
importFrom(Matrix,bdiag)
import(msm)
import(plyr)
import(stats)
import(survey)
import(utils)
S3method(print, sightest)
S3method(print, sightest_ratio)
S3method(summary, sightest)
S3method(summary, sightest_ratio)

